---
import { getCollection } from 'astro:content';
import BlogList from '../blog/BlogList.astro';
import { Card } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';

interface Props {
  count?: number;
}

const { count } = Astro.props;

const posts = await getCollection('blog').then((posts) =>
  posts.reverse().slice(0, count ?? 3)
);
---

<section class='mt-8'>
  <Card>
    See you @ ETH Denver! 🚀 tg: @augustradjoe - I'm on/near site or downtown 8AM to 11PM. Beer/Coffee on me.
  </Card>
</section>
